In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

# 데이터 로드

In [20]:
patient = pd.read_csv('/project/data/PATIENTS.csv')
# lab = pd.read_csv('/project/data/LABEVENTS.csv')

#D_ICD_DIAGNOSES
diagnoses = pd.read_csv('/project/data/D_ICD_DIAGNOSES.csv')
#DIAGNOSES_ICD
diagnoses_icd = pd.read_csv('/project/data/DIAGNOSES_ICD.csv')
lab = pd.read_csv('/data/MIMIC_III/LABEVENTS.csv')
pre = pd.read_csv('/data/MIMIC_III/PRESCRIPTIONS.csv')
pro = pd.read_csv('/data/MIMIC_III/PROCEDUREEVENTS_MV.csv')

In [21]:
lab

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal
...,...,...,...,...,...,...,...,...,...
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.00,mEq/L,NaN
27854051,27428436,96443,103219.0,50885,2109-12-30 01:40:00,2.1,2.10,mg/dL,abnormal
27854052,27428437,96443,103219.0,50902,2109-12-30 01:40:00,97,97.00,mEq/L,NaN
27854053,27428438,96443,103219.0,50911,2109-12-30 01:40:00,2,2.00,ng/mL,NaN
27854054,27428439,96443,103219.0,50912,2109-12-30 01:40:00,1.6,1.60,mg/dL,abnormal

# LABEVENTS

In [35]:
def find_lab_event(event_id):
    abnormal = lab.loc[(lab.ITEMID == event_id) & (lab.FLAG == 'abnormal')]
    print(f"abnormal - min:{abnormal.VALUE.min()}, max:{abnormal.VALUE.max()}")
    normal = lab.loc[(lab.ITEMID == event_id) & (lab.FLAG.isna())]
#     print(f"normal - min:{normal.VALUE.min()}, max:{normal.VALUE.max()}")
    return abnormal, normal

In [36]:
lab.loc[(lab.ITEMID == 50882) & (lab.FLAG.isna())]

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
12,293,3,NaN,50882,2101-10-13 03:00:00,23,23.0,mEq/L,NaN
25,306,3,NaN,50882,2101-10-13 15:47:00,25,25.0,mEq/L,NaN
38,319,3,NaN,50882,2101-10-14 03:00:00,25,25.0,mEq/L,NaN
83,364,3,NaN,50882,2101-10-15 03:30:00,26,26.0,mEq/L,NaN
103,384,3,NaN,50882,2101-10-15 12:15:00,26,26.0,mEq/L,NaN
...,...,...,...,...,...,...,...,...,...
27853732,27804266,99268,128633.0,50882,2119-12-03 06:13:00,24,24.0,mEq/L,NaN
27853916,27427164,96442,107499.0,50882,2115-05-27 04:47:00,26,26.0,mEq/L,NaN
27853941,27427189,96442,107499.0,50882,2115-05-28 04:38:00,25,25.0,mEq/L,NaN
27853970,27427218,96442,120151.0,50882,2115-06-29 04:45:00,25,25.0,mEq/L,NaN
27854050,27428435,96443,103219.0,50882,2109-12-30 01:40:00,26,26.0,mEq/L,NaN

In [66]:
abnormal, normal = find_lab_event(50878)
display(abnormal)
display(normal)

abnormal - min:100, max:9995

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
175,932,3,145834.0,50878,2101-10-22 04:00:00,67,67.0,IU/L,abnormal
431,551,3,145834.0,50878,2101-10-20 19:59:00,69,69.0,IU/L,abnormal
876,2296,4,NaN,50878,2191-04-22 16:15:00,105,105.0,IU/L,abnormal
950,2370,4,NaN,50878,2191-05-16 16:15:00,87,87.0,IU/L,abnormal
1185,2605,4,NaN,50878,2191-05-22 09:00:00,59,59.0,IU/L,abnormal
...,...,...,...,...,...,...,...,...,...
27852372,27778363,99096,129330.0,50878,2109-01-08 21:52:00,61,61.0,IU/L,abnormal
27852403,27778394,99096,129330.0,50878,2109-01-09 21:31:00,48,48.0,IU/L,abnormal
27852408,27779482,99096,190010.0,50878,2110-06-30 14:25:00,82,82.0,IU/L,abnormal
27853584,27766527,99002,NaN,50878,2196-01-29 12:40:00,48,48.0,IU/L,abnormal
27854049,27428434,96443,103219.0,50878,2109-12-30 01:40:00,467,467.0,IU/L,abnormal

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
37,318,3,NaN,50878,2101-10-14 03:00:00,32,32.0,IU/L,NaN
1005,2425,4,NaN,50878,2191-05-17 07:40:00,38,38.0,IU/L,NaN
1064,2484,4,NaN,50878,2191-05-18 08:05:00,39,39.0,IU/L,NaN
1098,2518,4,NaN,50878,2191-05-19 04:05:00,40,40.0,IU/L,NaN
1133,2553,4,NaN,50878,2191-05-20 03:55:00,40,40.0,IU/L,NaN
...,...,...,...,...,...,...,...,...,...
27853104,27730274,98761,175884.0,50878,2189-07-10 14:00:00,34,34.0,IU/L,NaN
27853150,27731446,98790,187987.0,50878,2200-10-16 16:21:00,26,26.0,IU/L,NaN
27853890,27764177,98994,178949.0,50878,2137-09-25 04:29:00,13,13.0,IU/L,NaN
27853915,27427163,96442,107499.0,50878,2115-05-27 04:47:00,9,9.0,IU/L,NaN
27853969,27427217,96442,120151.0,50878,2115-06-29 04:45:00,26,26.0,IU/L,NaN

In [67]:
min([float(i) for i in abnormal.VALUE.unique()])

41.0

In [68]:
display(abnormal.VALUE.unique(), abnormal.VALUEUOM.unique())
normal.VALUE.unique(), normal.VALUEUOM.unique()

array(['67', '69', '105', ..., '1104', '6553', '2986'], dtype=object)

array(['IU/L'], dtype=object)

(array(['32', '38', '39', '40', '23', '26', '31', '34', '24', '14', '15',
        '21', '12', '22', '16', '17', '37', '28', '27', '18', '20', '33',
        '29', '30', '9', '13', '7', '11', '6', '35', '19', '36', '25',
        'ERROR', '5', '10', '8', '45', '4', '2', '156', '0',
        'DISREGARD PREVIOUS RESULT 32,SPECIMEN MISLABELLED',
        'COMPUTER NETWORK FAILURE. TEST NOT RESULTED.', '1', '270', '53',
        '3', 'QNS', '58', '52', '42', '177', '55', '217', '113',
        'HEMOLYSIS FALSELY ELEVATES AST', '120', '116', '57',
        'GREATER THAN 800', '61',
        'HEMOLYSIS FALSELY INCREASES THIS RESULT', '85', '49', '48', '84',
        '211', '166', '46', 'VERIFIED BY DILUTION', 'ADD-ON QNS'],
       dtype=object),
 array(['IU/L', nan], dtype=object))

In [ ]:
normal[normal.VALUE == '0.52']

In [25]:
display(abnormal.sort_values('VALUE'))
normal.sort_values('VALUE')

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
4496933,4436916,7050,NaN,50912,2105-04-29 05:30:00,.4,0.4,mg/dL,abnormal
19833214,19596513,32254,147886.0,50912,2190-07-10 04:15:00,0,0.0,mg/dL,abnormal
22166083,22319294,57678,102554.0,50912,2182-06-20 07:40:00,0.0,0.0,mg/dL,abnormal
17614426,17640365,28533,181376.0,50912,2161-05-09 03:47:00,0.0,0.0,mg/dL,abnormal
17809599,17640930,28533,181376.0,50912,2161-05-16 03:25:00,0.0,0.0,mg/dL,abnormal
...,...,...,...,...,...,...,...,...,...
15488602,15443838,24995,186077.0,50912,2172-11-05 05:45:00,9.9,9.9,mg/dL,abnormal
1714564,1845124,2921,NaN,50912,2143-11-13 17:00:00,9.9,9.9,mg/dL,abnormal
7443627,7434974,11897,167722.0,50912,2121-04-07 07:10:00,9.9,9.9,mg/dL,abnormal
20232042,20620836,45410,103487.0,50912,2179-11-12 06:30:00,9.9,9.9,mg/dL,abnormal
5259386,5251418,8337,178592.0,50912,2174-08-08 04:30:00,9.9,9.9,mg/dL,abnormal

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
2308225,2413925,3854,170276.0,50912,2179-11-20 14:20:00,.05,0.05,mg/dL,NaN
138883,132396,205,135671.0,50912,2191-11-06 20:40:00,.6,0.60,mg/dL,NaN
26666965,26685244,90807,141455.0,50912,2198-12-11 17:50:00,.8,0.80,mg/dL,NaN
11200677,11159158,18024,129782.0,50912,2148-02-18 01:30:00,.9,0.90,mg/dL,NaN
11197958,11159130,18024,129782.0,50912,2148-02-18 00:45:00,.9,0.90,mg/dL,NaN
...,...,...,...,...,...,...,...,...,...
17609115,17601066,28475,172559.0,50912,2115-02-07 16:07:00,TEST CANCELLED DUE TO HEMOLYSIS,NaN,mg/dL,NaN
5106483,5102989,8073,NaN,50912,2150-08-18 14:40:00,UNABLE TO REPORT DUE TO LIPEMIA INTERFERENCE,NaN,mg/dL,NaN
6228508,6138971,9837,148986.0,50912,2130-04-06 05:55:00,VERIFIED - CONSISTENT WITH OTHER DATA,NaN,mg/dL,NaN
5615953,5477207,8734,174440.0,50912,2115-03-28 13:00:00,VERIFIED - CONSISTENT WITH OTHER DATA,NaN,mg/dL,NaN
10470353,10529560,16994,NaN,50912,2114-09-30 05:30:00,VERIFIED - CONSISTENT WITH OTHER DATA,NaN,mg/dL,NaN

# PROCEDUREEVENTS

In [65]:
pro[pro.ITEMID == 224275]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,VALUE,VALUEUOM,LOCATION,...,ORDERCATEGORYNAME,SECONDARYORDERCATEGORYNAME,ORDERCATEGORYDESCRIPTION,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE
24,403,31608,152365,237055.0,2133-01-10 01:02:00,2133-01-10 02:34:00,224275,92.0,min,RL Ant Forearm,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
25,404,31608,152365,237055.0,2133-01-10 02:41:00,2133-01-10 04:13:00,224275,92.0,min,R Hand,...,Peripheral Lines,NaN,Task,0,0,0,FinishedRunning,NaN,NaN,NaN
57,134,29200,105865,214221.0,2142-02-23 23:30:00,2142-02-24 17:37:00,224275,1087.0,min,LL Ant Forearm,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
58,135,29200,105865,214221.0,2142-02-24 07:40:00,2142-02-24 17:50:00,224275,610.0,min,R Wrist,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
59,136,29200,105865,214221.0,2142-02-24 08:00:00,2142-02-24 17:25:00,224275,565.0,min,L Wrist,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258047,255695,44135,164614,226997.0,2120-08-27 04:08:00,2120-08-28 06:19:00,224275,1571.0,min,Right Cephalic Upper Arm,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258054,257330,92353,156845,200552.0,2149-10-03 23:11:00,2149-10-04 01:07:00,224275,116.0,min,Right Cephalic Lower Arm,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258055,257331,92353,156845,200552.0,2149-10-03 23:11:00,2149-10-04 15:27:00,224275,976.0,min,Right Antecubital,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258056,257332,92353,156845,200552.0,2149-10-04 02:08:00,2149-10-05 18:00:00,224275,2392.0,min,Right Digital,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN
258058,257334,92353,156845,200552.0,2149-10-05 14:18:00,2149-10-09 13:14:00,224275,5696.0,min,NaN,...,Peripheral Lines,NaN,Task,1,0,0,FinishedRunning,NaN,NaN,NaN

# PRESCRIPTIONS

In [27]:
pre[pre.NDC == 409176230]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTDATE,ENDDATE,DRUG_TYPE,DRUG,DRUG_NAME_POE,DRUG_NAME_GENERIC,FORMULARY_DRUG_CD,GSN,NDC,PROD_STRENGTH,DOSE_VAL_RX,DOSE_UNIT_RX,FORM_VAL_DISP,FORM_UNIT_DISP,ROUTE
1132,2907116,35,166707,282039.0,2122-02-10 00:00:00,2122-02-15 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.5-4,mg,0.25-2,SYR,IV
1576,1386583,36,165660,241249.0,2134-05-15 00:00:00,2134-05-16 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,1-2,mg,0.5-1,SYR,IV
2138,1381483,36,182104,280987.0,2131-05-04 00:00:00,2131-05-05 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.5-4,mg,0.25-2,SYR,IV
2153,1380710,36,182104,280987.0,2131-05-05 00:00:00,2131-05-07 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,1-5,mg,0.5-2.5,SYR,SC
2227,1382253,36,122659,NaN,2131-05-15 00:00:00,2131-05-22 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.5-4,mg,0.25-2,SYR,IV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4156153,149799,98853,189030,NaN,2187-02-03 00:00:00,2187-02-03 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.1-0.5,mg,0.05-0.25,SYR,IV
4156157,149801,98853,189030,NaN,2187-02-03 00:00:00,2187-02-05 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.25,mg,0.125,SYR,IV
4156161,149941,98853,189030,NaN,2187-02-05 00:00:00,2187-02-05 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.5,mg,0.25,SYR,IV
4156163,149943,98853,189030,NaN,2187-02-05 00:00:00,2187-02-09 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.25,mg,0.125,SYR,IV
4156164,149942,98853,189030,NaN,2187-02-05 00:00:00,2187-02-09 00:00:00,MAIN,Morphine Sulfate,Morphine Sulfate,Morphine Sulfate (Syringe),MORP2I,004070,409176230.0,2mg Syringe,0.25-0.5,mg,0.125-0.25,SYR,IV